@model ShoppingWebsiteMVC.Models.Order

@{
    ViewBag.Title = "CancelOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="alert-danger p-3">Are you sure you want to Cancel the order? This cant be undone</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoofProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoofProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" value=@Model.Id name="id"/>
            <input type="submit" value="Cancel Order" class="btn btn-danger" /> |
            @Html.ActionLink("Back to Orders", "MyOrders",null,new {@class="btn btn-success" })
        </div>
    }
</div>
