@model IEnumerable<ShoppingWebsiteMVC.Models.Cart>

@{
    ViewBag.Title = "View Cart";
}

<h2>My Cart</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoofProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoofProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Place Order", "BuyNow","Product", new { UserId = item.UserId, ProductId = item.ProductId },null) |
                @Html.ActionLink("Delete Item", "CartDelete", new { UserId = item.UserId, ProductId = item.ProductId })
            </td>
        </tr>
    }
</table>
@if(Model.ToList().Count>0){
    @Html.ActionLink("Buy All", "BuyAll", "Product",null,new { @class="btn btn-info"})
}

@Html.ActionLink("Buy More Products", "Index", "Product",null,new { @class="btn btn-success btn-sm"})

