@model ShoppingWebsiteMVC.Models.Cart

@{
    ViewBag.Title = "CartDelete";
    ViewBag.cart= "active";

}

<h3 class="alert-danger p-3 m-2">Are you sure you want to remove this from your cart?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoofProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoofProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
            @Html.ActionLink("Back to Cart", "Cart", null, new { @class = "btn btn-info btn-sm" })
        </div>
    }
</div>
