@model IEnumerable<ShoppingWebsiteMVC.Models.Transaction>

@{
    ViewBag.Title = "MyOrders";
}

<h2>MyOrders</h2>

<table class="table">
    

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoofProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDate)
        </td>
        @{ if (DateTime.Now < item.TDate.AddDays(5))
           { 
             <td>
            @Html.ActionLink("Cancel Order", "CancelOrder", new { TId = item.TId, ProductId = item.ProductId })
             </td>
            }
            }
        <td>
            @Html.ActionLink("Give Feedback", "Feedback", new { ProductId=item.ProductId })
        </td>
    </tr>
}

</table>
