@model IEnumerable<ShoppingWebsiteMVC.Models.Order>

@{
    ViewBag.Title = "MyOrders";
    ViewBag.order = "active";
}
<style>
    .card:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        transition:0.3s ease-in-out;
    }
    .card {
        transition: 0.3s ease-in-out;
    }
</style>

<h2 class="m-3 h2 text-secondary p-2">MyOrders</h2>


@if (Model != null)
{

    if (Model.ToList().Count > 0)
    {
            foreach (var item in Model)
            {
                <div class="card p-3 m-2">
                    <div class="row p-3">
                        <div class="col-3 align-content-center">
                            @{ var img = item.ProductId + ".jpg";}
                            <img src="~/Images/@img" height="120" />
                        </div>
                        <div class="col-6 text-justify">
                            <div class="col-12">
                                @Html.DisplayFor(modelItem => item.Products.ProductName)
                            </div>
                            <div class="col-12">
                                Quantity: @Html.DisplayFor(modelItem => item.NoofProduct)
                            </div>
                            <div class="col-12 text-muted font-italic small">
                                Seller: @Html.DisplayFor(modelItem => item.Products.Supplier.Name)
                            </div>
                            <div class="col-12 font-weight-bolder d-inline" style="font-size:1.2rem;">
                                ₹ @Html.DisplayFor(modelItem => item.Amount)
                            </div>
                            <div class="text-secondary col-12">
                                Ordered on: @Html.DisplayFor(modelItem => item.TDate)
                            </div>
                        </div>
                        <div class="col-3 align-content-center">
                            @if (DateTime.Now < item.TDate.AddDays(5))
                            {
                                @Html.ActionLink("Cancel Order", "CancelOrder", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                            }
                            @Html.ActionLink("Give Feedback", "Feedback", new { ProductId = item.ProductId }, new { @class = "btn btn-info btn-sm" })
                        </div>
                    </div>
                </div>
            }
    }
    else
    {
        <div class="alert alert-info p-3">
            You haven't ordered anything yet
            <a href="/Product" class="btn btn-success btn-sm">Buy Products</a>
        </div>
    }
}

else
{
    <div class="alert alert-info p-3">
        You haven't ordered anything yet
        <a href="/Product" class="btn btn-success btn-sm">Buy Products</a>
    </div>
}
