@model ShoppingWebsiteMVC.Models.User

@{
    ViewBag.Title = "BuyNow";
}

<h2>Pay Your Order</h2>

<div>
    <h4>Confirm Payment</h4>
    <hr />

    Thankyou 
        @Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Lastname), for shopping with us
    <p>Your order will be delivered to: </p>
    <blockquote>
        @Html.DisplayFor(model => model.Address)
        <br />
        @Html.DisplayFor(model => model.City)
        <br />
        @Html.DisplayFor(model => model.Country)
    </blockquote>
    <div class="alert-info">Complete your payment by clicking paynow</div>
    <div>
        @Html.ActionLink("Pay Now", "ConfirmOrder", new { UserId = ViewBag.UserId, ProductId = ViewBag.ProductId }, new { @class = "mt-2 col-4 btn btn-success" })
    </div>
</div>
<p class="mt-2">
     @Html.ActionLink("Back to Cart", "Cart","User",null, new { @class = "btn btn-info btn-sm" })
</p>
