@model IEnumerable<ShoppingWebsiteMVC.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert-danger">@ViewBag.Error</div>
}
else
{
    <form method="get" action="/Product/Search" class="form-inline m-2">
        <div class="h6 m-2">
            View Products
        </div>
        @Html.TextBox("ProductName", null, new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-dark btn-sm" />
    </form>
    if (Model.ToList().Count==0)
    {
        <div class="alert-info">No products found. Search for another product!</div>
    }
    else
    {
        <br />
        <div class="row mr-3 ">
        
        @foreach (var item in Model)
        {
        <div class="card col-3 mr-2 p-1">
            <div class="card-header text-center">
                @Html.DisplayFor(modelItem => item.ProductName)
            </div>
            <div class="font-weight-bold text-center" style="font-size:large">
                @Html.DisplayFor(modelItem => item.BrandName)
            </div>
            <div class="card-body text-center">
                @Html.DisplayFor(modelItem => item.Price) <br />
                <span class="alert-info">@Html.DisplayFor(modelItem => item.Discount)% off</span>
            </div>
            <div class="card-footer text-center">
                @Html.ActionLink("Details", "ProductView", new { ProductId = item.ProductId },new { @class="btn btn-info"})
            </div>
        </div>
        }
    </div>
}
    }
