@model ShoppingWebsiteMVC.Models.Product

@{
    ViewBag.Title = "ProductView";
}

<h2>ProductView</h2>

<div>
    <hr />
    <dl class="card p-3 col-3">
        @{ var img = Model.ProductId + ".jpg";}
        <img src="~/Images/@img">" height="50"/>
        <dd class="card-title font-weight-bold">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @if (Model.Discount != 0)
            {   <s>  @Html.DisplayFor(model => model.Price) </s> <br />}
            
            @(Model.Price - Model.Discount / 100 * Model.Price)
        </dd>
        @if (Model.Discount != 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
            <dd class="alert-info">
                @Html.DisplayFor(model => model.Discount)% Off 
            </dd>
        }
        else
        {
            <dt>No Discount Available!</dt>
        }

        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

    </dl>
</div>
<tr>
    <th align="right">
        @using (Html.BeginForm("AddtoCart", "Product", FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.TextBox("Itemno","1",new { @class = "form-control", @placeholder = "Quantity"} )
            @Html.HiddenFor(m => m.ProductId, new { @class = "form-control", @value = Model.ProductId })
            <button type="submit" class="btn btn-success btn-sm ml-2" >Add to Cart <i class="fa fa-cart-plus"></i></button>
        }
    </th>
</tr>

