@model ShoppingWebsiteMVC.Models.User

@{
    ViewBag.Title = "ChangePassword";
    ViewBag.nine = "active";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>ChangePassword</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.Partial("_alertdiv")
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)


        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control",@placeholder="Enter new password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.ConfirmPassword)
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter once more" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>


        <div class="form-group col-md-4">
                <input type="submit" value="Save"
                       class="btn btn-danger"
                       {
                       onclick="alert('Password changed')"
                       } />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Settings", "Settings", "Admin", null, new { @class = "btn btn-success btn-sm" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
