@model ShoppingWebsiteMVC.Models.Product

@{
    ViewBag.Title = "Details";
    ViewBag.one = "active";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <div class="col-12">
        <hr />  
    </div>
    <div class="col-md-6 col-12">
        <div class="table">
            <table class="table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.ProductName)
                    </td>
                </tr>
                <tr>
                    <th>
                        Category
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.SubCategory.Category.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        SubCategory
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.SubCategory.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BrandName)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.BrandName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <td>
                        ₹ @Html.DisplayFor(model => model.Price)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Units)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Units)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Discount)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Discount) %
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Supplier.Name)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Supplier.Name)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <h6>Product Image</h6>
        @{ var img = Model.ProductId + ".jpg";}
        <img src="~/Images/@img" height="300" />
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
</p>
