@model ShoppingWebsiteMVC.Models.Supplier

@{
    ViewBag.Title = "EditSupplier";
    ViewBag.three = "active";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>EditSupplier</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SupplierId)

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control",@placeholder="Supplier Name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Location)
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = "Supplier Location" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
                <input type="submit" value="Update" class="btn btn-info" />
        </div>
    </div>
}

