@model IEnumerable<ShoppingWebsiteMVC.Models.Product>

@{
    ViewBag.Title = "Index";
    ViewBag.one = "active";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>All Products</h3>

<p>
    <a href="/admin/create" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Add Product</a>
</p>
@Html.Partial("_alertdiv")
<div class="table-responsive">
    <table class="table table-primary table-striped">
        <thead class="thead-light">
            <tr>
                <th style="width:270px!important">
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    Category
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BrandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Units)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="20">
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Units)
                    </td>
                    <td>
                        <a href="/admin/edit/@item.ProductId" class="btn btn-info btn-sm"><i class="fa fa-edit"></i>Edit</a>
                        <a href="/admin/details/@item.ProductId" class="btn btn-dark btn-sm"><i class="fa fa-eye"></i>View</a>
                        <a href="/admin/delete?ProductId=@item.ProductId" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> Clear stock</a>
                    </td>
                </tr>
        }
            </tbody>


    </table>
</div>
<div>
    <a href="/admin/NewSupplier" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add Supplier</a>
    <a href="/admin/SupplierView" class="btn btn-dark btn-sm"><i class="fa fa-eye"></i> View Suppliers</a>
</div>