@model ShoppingWebsiteMVC.Models.Category

@{
    ViewBag.Title = "NewCategory";
    ViewBag.four = "active";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h3>New Category</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Name,"Category Name")
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
                <input type="submit" value="Add" class="btn btn-info" />
        </div>
    </div>
}

