
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="h2 mt-2">Settings</h2>

<div class="list-group m-3">
    @Html.ActionLink("Change account details", "AdminEdit", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Change Password", "ChangePassword", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Add New Product", "Create", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("View All Products", "Index", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Add New Supplier", "NewSupplier", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Categories", "Categories", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Add New Category", "NewCategory", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("SubCategories", "SubCategories", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("New SubCategory", "NewSubCategory", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("View Feedbacks", "Feedback", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("View Report", "Report", "Admin", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "list-group-item list-group-item-action list-group-item-danger" })
</div>


