@model IEnumerable<ShoppingWebsiteMVC.Models.SubCategory>

@{
    ViewBag.Title = "SubCategories";
    ViewBag.five = "active";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>SubCategories</h2>

<p>
    @Html.ActionLink("Add New", "NewSubCategory",null,new { @class="btn btn-success btn-sm"})
</p>
<div class="table-responsive">
    <table class="table table-striped table-primary">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="/Admin/EditSubCategory/@item.SubCategoryId" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i>Edit</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>