<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="navbar-brand">
            <span ><i class="fa fa-shopping-cart"></i></span>
            ShoppingBag
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a href="../Products" class="nav-link">Home <i class="fa fa-home"></i></a></li>
                    <li class="nav-item"><a href="../User/Myorders" class="nav-link">My Orders<i class="fa fa-shopping-bag"></i></a></li>
                    <li class="nav-item"><a href="../User/Cart" class="nav-link">My Cart <i class="fa fa-shopping-cart"></i></a></li>
                    @if (Session["UserId"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hi @Session["Username"]<i class="fa fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="../User/Settings">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="../User/Logout">Logout <i class="fa fa-sign-out"></i></a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
