<!-- Sidebar  -->
<nav id="sidebar" class="bg-dark text-light active">
    <div class="sidebar-header bg-dark">
        <h3 class="text-primary">Menu</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="@ViewBag.one">
            <a href="/Admin">Home</a>
        </li>
        <li class="@ViewBag.two">
            <a href="#productmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
            <ul class="collapse list-unstyled" id="productmenu">
                <li>
                    <a href="/Admin/Create">Add Product</a>
                </li>
            </ul>
        </li>
        <li class="@ViewBag.three">
            <a href="#suppliermenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Supplier</a>
            <ul class="collapse list-unstyled" id="suppliermenu">
                <li>
                    <a href="/Admin/Suppliers">View Suppliers</a>
                </li>
                <li>
                    <a href="/Admin/NewSupplier">Add Supplier</a>
                </li>
            </ul>
        </li>
        <li>
        <li class="@ViewBag.four">
            <a href="#categorymenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
            <ul class="collapse list-unstyled" id="categorymenu">
                <li>
                    <a href="/Admin/Categories">View Categories</a>
                </li>
                <li>
                    <a href="/Admin/NewCategory">Add Category</a>
                </li>
            </ul>
        </li>
        <li>
        <li class="@ViewBag.five">
            <a href="#subcatmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">SubCategory</a>
            <ul class="collapse list-unstyled" id="subcatmenu">
                <li>
                    <a href="/Admin/SubCategories">View Subcategories</a>
                </li>
                <li>
                    <a href="/Admin/NewSubCategory">Add Subcategory</a>
                </li>
            </ul>
        </li>
        <li class="@ViewBag.six">
            <a href="/Admin/Feedback">Feedbacks</a>
        </li>
        <li class="@ViewBag.seven">
            <a href="/Admin/Report">Reports</a>
        </li>
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed p-0 pl-2 bg-dark">
            <small>Account</small>
        </li>
        <li class="small @ViewBag.eight">
            <a href="/Admin/AdminEdit">Change details</a>
        </li>
        <li class="small @ViewBag.nine">
            <a href="/Admin/ChangePassword">Change Password</a>
        </li>
    </ul>

</nav>

